  <div class="container">
  <div class="theme">
    <h1>良师</h1>
    <h2>在线</h2>
    <img alt="pic2" src="/assets/res/pic2.png" width="281" height="245"/> <img alt="pic2" src="/assets/res/pic1.png" width="281" height="245"/> <img id="subtitle" src="/assets/res/subtitle.png"/>
    <div id="clear"></div>
  </div>
  <div class="search">
    <form>
      <input type="text" name="search">
      <input type="button" class="button_search">
    </form>
    </form>
  </div>
  <div class="bulletin">
    <h1>公告栏</h1>
    <table>
      <% @annoncements.each do |annoncement| %>
        <tr>
          <td class="title"><%= link_to annoncement.title, annoncement %>
            <p id="time"><%= annoncement.created_at.localtime.to_s(:db) %></p>
            <p><%= annoncement.content %></p>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to "查看更多", annoncements_path %>
  </div>
  <div class="intro"> <img src="/assets/res/selfintro.png"/>
    <table>
      <% @advertisements.each do |ad| %>
        <tr>
          <td style="white-space: normal;">
            <div id="single">
              <h2>来自:</h2>
              <h2><%= ad.user.name %></h2>
              <div id="clear"/>
              <p><%= ad.content %></p>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><%= link_to "查看更多", advertisements_path %></td>
      </tr>
    </table>
  </div>
  <div id="clear"></div>
  <div class="teacher">
  <h2>热门讲师</h2>
    <% @top_teachers.each do |teacher| %>
      <p> <%= teacher.name %> </p>
    <% end %>
  <img src="/assets/res/head.png" width="137" height="137"/>
  <img src="/assets/res/head.png" width="137" height="137"/>
  </div>
</div>
</div>
<footer> </footer>
