<%= provide(:title, t("common.login")) %>

<h1><%= t("common.login") %></h1>  
<%= form_tag signin_path do%>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>
  <%= label_tag :password, "密码" %>
  <%= password_field_tag :password , params[:password] %>

  <fieldset>
    <div class="role-select">
      <ul>
        <li><%= radio_button_tag :role, "teacher" %></li>
        <li><%= label_tag :role_teacher, "教师" %></li>
        <li><%= radio_button_tag :role, "student", true %></li>
        <li><%= label_tag :role_student, "学生" %></li>
      </ul>
    </div>
  </fieldset>
 
  <%= submit_tag t("common.login"), class: "btn btn-defult btn-info" %>
<% end %>
<p>第一次来？<%= link_to "新用户注册", signup_path %> </p>
