<% provide(:title, "搜索 #{@content}") %>
<h3>搜索</h3>
<div class = "span7 offset2">
  <%= text_field_tag :content, @content, class: "input-large search-query" %>
  <%= submit_tag "搜索", class: "btn" %>
   <ul class="users">
    
  </ul>
</div>
<div id="clear"></div>
<div class="search_content">
<div id="search_bar">
  <%= form_tag(search_contents_path, :method=>'post') do %>
  <ul>
    <li>身份</li>
    <li>
      <div class="choicebox">
        <div class="choice_cell">
        <%= radio_button_tag :role, 1, @role_number == 1 %>
        <%= label_tag :role_1, "学生" %>
        </div>
        <div class="choice_cell">
        <%= radio_button_tag :role, 0, @role_number == 0 %>
        <%= label_tag :role_0, "老师" %> 
        </div>
      </div>
      <div id="clear"></div>
    </li>
    <li>科目</li>
    <li>
      <%= render partial: "multiple_choice", locals: {objects: @subjects, name: "subject"} %>
    </li>
    <li>学历</li>
    <li>
      <%= render partial: "multiple_choice", locals: {objects: @degrees, name: "degree"} %>
    </li>
    <li>地区</li>
    <li>
      <%= render partial: "multiple_choice", locals: {objects: @districts, name: "district"} %>
    </li>
    <li>性别</li>
    <li>
      <div class="choicebox">
        <div class="choice_cell">
          <%= radio_button_tag :gender, 2, @gender_number == 2 %>
          <%= label_tag :gender_2, "都可" %>
        </div>
        <div class="choice_cell">
          <%= radio_button_tag :gender, 1, @gender_number == 1 %>
          <%= label_tag :gender_1, "男" %>
        </div>
        <div class="choice_cell"> 
          <%= radio_button_tag :gender, 0, @gender_number == 0 %>
          <%= label_tag :gender_0, "女" %>
        </div>
      </div>
      <div id="clear"></div>
    </li>
  </ul>
  <%= submit_tag "搜索", class: "btn_search" %>
</div>
<div class="search_result">
  <div class="info_left">
  <% if @users %>
    <%= @users.count %>
    <%= render partial: "user", collection: @users %>
  <% end %>
  <div class="result_cell">
    <img src="/assets/res/head.png">
        <table>
          <tr>
            <td><label>姓名</label></td>
            <td><label>用户名</label></td>
          </tr>
          <tr>
            <td><label>性别</label></td>
            <td><label>女</label></td>
          </tr>
          <tr>
            <td><label>地区</label></td>
            <td><label>杨浦区</label></td>
          </tr>
          <tr>
            <td><label>学历</label></td>
            <td><label>博士后</label></td>
          </tr>
          <tr>
            <td><label>擅长科目</label></td>
            <td id="course"><label>语文</label></td>
          </tr>
        </table>
        <div id="clear"></div>
        </div>
		
	    <div class="result_cell">
	      <img src="/assets/res/head.png">
	          <table>
	            <tr>
	              <td><label>姓名</label></td>
	              <td><label>用户名</label></td>
	            </tr>
	            <tr>
	              <td><label>性别</label></td>
	              <td><label>女</label></td>
	            </tr>
	            <tr>
	              <td><label>地区</label></td>
	              <td><label>杨浦区</label></td>
	            </tr>
	            <tr>
	              <td><label>学历</label></td>
	              <td><label>博士后</label></td>
	            </tr>
	            <tr>
	              <td><label>擅长科目</label></td>
	              <td id="course"><label>语文</label></td>
	            </tr>
	          </table>
	          <div id="clear"></div>
	          </div>
			  
      </div>
      <div id="clear"/>
    </div>
    
    </div>
    </div>
    <% end %>   
       
  </div>
</div>



