<% provide(:title, "搜索 #{@content}") %>
<h1>Sign in</h1>

<%= render  'shared/search_form' %>                       
<ul class="users">
  <% if @students %>
  <p><%= @students.count %>个学生</p>
    <% @students.each do |student| %>
      <li><%= student.name%> </li>
     <% end %>
  <% end %>
  <% if @teachers %>
  <p><%= @teachers.count %>个老师</p>
    <% @teachers.each do |teacher| %>
      <li><%= teacher.name%> </li>
     <% end %>
  <% end %>
</ul>


