<% provide(:title, "编辑个人资料") %>
<div class="row">
  <div class="span6">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :gender %>
      <%= f.select :gender, [['男', 1],['女', 0]], include_blank: true %>

      <%= f.label :district_id %>
      <%= f.select :district_id, districts, include_blank: true %>

      <%= f.label "想教学的科目" %>
      <div class="role-select">
      <% Subject.all.each do |subject| %>
        <label>
          <%= check_box_tag("user[teacher_subject_ids][]", subject.id, @user.teacher_subject_ids.include?(subject.id)) %>
          <%= subject.name %>
        </label>
        <%= hidden_field_tag "user[teacher_subject_ids][]" %>
      <% end %>
      </div>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <div class="role-select">
        <%= f.label :teacher_visible %>
        <%= f.check_box :teacher_visible %>
      </div>

      <%= f.submit t("common.update"), class: "btn btn-primary" %>
    <% end %>
    <%= link_to("我也想当学生", full_role_user_path(@user), method: :delete, confirm: :"你确定吗？") unless current_user.full_role? %>
  </div>
  <div class="span6">
    <%= render "edit_password" %>
  </div>
</div>
