<% provide(:title, "编辑个人资料") %>
<div class="row">
  <div class="span6">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :gender %>
      <%= f.select :gender, [['男', 1],['女', 0]], include_blank: true %>

      <%= f.label :district_id %>
      <%= f.select :district_id, @districts, include_blank: true %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :visible %>
      <%= f.check_box :visible %>

      <%= f.submit t("common.register"), class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to "我也想当老师", full_role_user_path(@user) %>
  </div>
  <div class="span6">
    <%= render "edit_password" %>
  </div>
</div>
