<% provide(:title, @title) %>
<%= render 'layouts/sub_header' %>
<div class="room_container">
  <% if @relationships.any? %>
    <% @relationships.each do |r| %>
      <% user = current_student? ? r.teacher : r.student %>
      <div class="span5">
        <div class="room-img">
          <%= gravatar_for(user, size: 80) %>
        </div>
        <p style="margin-top:0px;"><%= link_to user.name, user %></p>
        <p>开始时间：<%= r.created_at.localtime.to_s(:db) %></p>
        <p><%= render 'shared/remove_relationship', user: user %></p>
      </div>
    <% end %>
  <% else %>
    <p>没有找到和您有教学关系的人</p>
  <% end %>
  <div id="clear"></div>
</div>

