<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :is_student %>
      <%= f.select :is_student, [['是', 1],['否', 0]] %>

      <%= f.label :gender %>
      <%= f.select :gender, [['男', 1],['女', 2],['保密', 3]] %>

      <%= f.label :district_id %>
      <%= f.select :district_id, @districts %>


      <%= f.label :degree_id %>
      <%= f.text_field :degree_id %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :visible %>
      <%= f.check_box :visible %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
