<% provide(:title, t("common.register")) %>
<h1><%= t("common.register") %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= link_to "教师注册", teacher_signup_path %>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <fieldset>
        <div class="role-select">
          <%= f.radio_button :role, "teacher" %>
          <%= f.label :role_teacher, "教师" %>
          <%= f.radio_button :role, "student", checked: true %>
          <%= f.label :role_student, "学生" %>
        </div>
      </fieldset>

      <%= f.submit t("common.register"), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
