<% provide(:title, @user.name) %>
<!-- 仅供测试 -->
<% if signed_in? %>
	<div id="myModal" class="modal hide fade" style="width:auto;">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4>写下你对 <%=@user.name%> 的评价吧^_^</h4>
	  </div>
	  <div class="modal-body">
	    <% if !@has_evaluate && @can_evaluate%>
	      <% comment = Comment.new(teacher_id: @user[:id], student_id:current_user[:id]) %>
	      <%= render "comments/new", comment: comment%>    
	    <% end%>
	    <% if @has_evaluate && @can_evaluate%>
	      <% comment = Comment.find_by_student_id_and_teacher_id(current_user[:id], @user[:id])%>
	        <%= render "comments/update", comment: comment%>
	        <%= render "comments/destroy", comment: comment%>
	    <% end%>
	  </div>
	</div>
<% end %> 

<div class="info_container" style="border:none;">
  <div class="page" style="float:none;">
      <% if signed_in? && !current_user?(@user) %>
       
          <button class="btn" id="chat-with-button">聊天</button>
      <% end %>
    <table>
      <tr>
        <td><label>在线状态：</label>
          <% if @user.online? %>
            <!-- 下面id用于聊天，请不要删除-->
            <img id="img_online" src="/assets/res/online.png" width="30" height="30"/>
          <% else %>
            <img src="/assets/res/offline.png" width="30" height="30"/>
          <% end %>
          
        </td>
        
		
		        <!-- 下面id用于聊天，请不要删除-->
        <td>
          <h1 id="username"><%= @user.name %></h1>
        </td>
        <% if signed_in? %>
          <%= render "shared/request_form", :user => @user %>
        <% end %>
       
        <% if signed_in? && current_user?(@user) %>
          <td>
            <%= link_to "编辑资料", edit_user_path(@user), class: "btn_profile" %>
          </td>
        <% end %>
      </tr>
    </table>
    <div class="info_left" style="border-right:none;">
      <h6>个人信息</h6>
      <ul>
        <li>性别：<%= gender(@user) %> </li>
        <% if @user.district %>
          <li>地区：<%= @user.district.name %></li>
        <% end %>
        <% if @user.degree %>
          <li>学历：<%= @user.degree.name %></li>
        <% end %>
        <li>身份：<%= role(@user) %> </li>
      </ul>
	  
      <% if @user.is_student? %>
        <h6>学习状态</h6>
        <p><%= student_visible_to_s(@user) %></p>
        <h6>想要学习的科目</h6>
        <div class="course">
          <ul>
            <% @user.student_subjects.each do |subject| %>
              <li><%= subject.name %></li>
            <% end %>
            <div id="clear"/>
          </ul>
        </div>
	    <% end %>
	  
      <% if @user.is_teacher? %>
        <h6>教学状态</h6>
        <p><%= teacher_visible_to_s(@user) %></p>
        <h6>想要讲授的科目</h6>
        <div class="course">
          <ul>
            <% @user.teacher_subjects.each do |subject| %>
              <li><%= subject.name %></li>
            <% end %>
            <div id="clear"/>
          </ul>
        </div>
		
        <h6>自我描述</h6>
        <p><%= @user.description %></p>
        <% if @user.is_teacher? %>
          <h6>评价</h6>
            
          <%= render "comments/index", comments: @user.comments %>
        <% end %>
        <% if @can_evaluate %>
          <a href="#myModal" role="button" class="btn" data-toggle="modal">我的评价</a>
        <% end%>
		
        <% unless @user.video_id.blank? %>
          <h6>视频</h6>
          <%= raw video_for(@user.video_id) %>
        <% end %>
      <% end %>
	  
    </div>
    <div class="info_right">
      <%= gravatar_for(@user, size: 200) %> 
     
    </div>
    <div id="clear"/>
  </div>
</div>
<div id="clear"/>
