<% if !current_user?(user) && user.blocked_users.include?(current_user)%>
他已将你屏蔽
<% else %>
	<% if (current_student? && user.is_teacher? && !current_user?(user)) || (current_teacher? && user.is_student? && !current_user?(user)) %> 
	  <% if current_user.have_been_friends?(user,current_student?) %>
	    <%= render'shared/remove_relationship', :user => user %>
	  <% else %>
	    <% if !current_user.blocked_users.include?(user)%>
	        <a href="#addModal" role="button" class="btn" data-toggle="modal">加为好友</a>
			<div id="addModal" class="modal hide fade">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4>亲，写下你想加 <%=@user.name%>为好友的原因吧 ^_^</h4>
			  </div>
			  <div class="modal-body">
				<%= render'shared/add_friends', :user => user%>
			  </div>
			</div>
	  	<% end %>
	  <% end %>
	<% end %>
<% end %>
<% if !current_user?(user) %>
  <% if current_user.blocked_users.include?(user) %>
  <%= render 'shared/unblocked_form', :user => user %>
  <% else %>
  <%= render 'shared/blocked_form', :user => user %>
  <% end %>
<% end %>
