<div class="blocked-user">
  <div class="span3">
    <div class="room-img">
      <%= gravatar_for(user, size: 80) %>
    </div>
    <p><%= link_to user.name, user %></p>
    <%= form_tag(blocked_relationship_path(user.id), method:'delete') do %>
      <%= hidden_field_tag :blocked_user_id, user.id %>
      <p><%= submit_tag "移出黒名单", class: "btn" %></p>
    <% end %>
  </div>
</div>
