<h1>所有需求</h1>

<%= link_to '我要发布', new_advertisement_path %>
<table>

<% @student_advertisements.each do |advertisement| %>
  <tr>
    <td><%= link_to advertisement.user[:name] , advertisement%></td>
    <td><%= advertisement.content %></td>
  </tr>
<% end %>
<% @teacher_advertisements.each do |advertisement| %>
  <tr>
    <td><%= link_to advertisement.user[:name], advertisement %></td>
    <td><%= advertisement.content %></td>
  </tr>
<% end %>
</table>

<br />

