<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>用户名:</b>
  <%= @advertisement.user[:name] %>
</p>

<% if @advertisement.role == 0 %>
<b>老师</b>
<% else %>
<b>学生</b>
<% end%>
<p>
  <b>需求信息:</b>
  <%= @advertisement.content %>
</p>


<% if signed_in? && @advertisement.user == current_user && @advertisement.role == current_user_role_number%>
<%= button_to '编辑', edit_advertisement_path(@advertisement),method: "get", class: "btn btn-primary" %> 
<%= render 'delete_advertisement', advertisement: @advertisement %> 
<% end%>
<%= link_to '需求列表', advertisements_path %>
