<!--<p id="notice"><%= notice %></p>-->
<div class="row" style="background:none;">
  <div class="span6">
<p>
  <b>用户:</b>
  <%= link_to @advertisement.user.name, @advertisement.user %>
</p>

<% if @advertisement.role == 0 %>

<% else %>

<% end%>
<div style="padding-top:30px;">
<div class="show_content">
  <b>需求:</b>
  <%= @advertisement.content %>
</div>


<% if signed_in? && @advertisement.user == current_user && @advertisement.role == current_user_role_number%>
<div style="float:right;margin-right:180px;">
	<%= link_to '编辑', edit_advertisement_path(@advertisement),method: "get"%> 
<%= render 'delete_advertisement', advertisement: @advertisement %> 
<% end%>
<%= link_to '需求列表', advertisements_path %>

</div>
<div id="clear"></div>
</div>
</div>
