<h3>所有公告</h3>
<div id="clear"></div>
<div class="info_container" style="border:none;">
<div class="page" style="float:none;">
  <div class="info_left" style="border:none;">
<table class="paginated" style="table-layout:fixed;">
<% @annoncements.each do |annoncement| %>
  <tr>
	  <td><%= link_to annoncement.title, annoncement %></td>
    <td width="150px"><%= annoncement.created_at.localtime.to_s(:db) %></td>
    <td width="200px" height="30px"><%= annoncement.content %></td>
    <% if current_admin? %>
      <td><%= link_to '编辑', edit_annoncement_path(annoncement) %></td>	
      <td><%= link_to '删除', annoncement, method: :delete, data: { confirm: '你确定吗？' } %></td>
    <% end %>
<% end %>
</table>

</div>
<div class="info_right" style="border:none;">
	  <div style="float:right">
<% if current_admin? %>
<%= link_to '创建新公告', new_annoncement_path %>
<% end%>
<div id="clear"></div>
</div>
