<h1>所有公告</h1>

<% if current_admin? %>
<%= link_to '创建新公告', new_annoncement_path %>
<% end%>

<br />

<% @annoncements.each do |annoncement| %>
  <div class="annoncement">
    <%= link_to annoncement.title, annoncement %>
    <%= annoncement.created_at.localtime.to_s(:db) %>
    <p><%= annoncement.content %></p>
    <% if current_admin? %>
      <%= link_to '编辑', edit_annoncement_path(annoncement) %>
      <%= link_to '删除', annoncement, method: :delete, data: { confirm: '你确定吗？' } %>
    <% end %>
<% end %>
