<h1>所有公告</h1>

<% if current_admin? %>
<%= link_to '创建新公告', new_annoncement_path %>
<% end%>

<br />

<table>

<% @annoncements.each do |annoncement| %>
  <tr>
    <td><%= link_to annoncement.title, annoncement %></td>
    <td><%= annoncement.content %></td>
    <% if current_admin? %>
    <td><%= button_to '编辑', edit_annoncement_path(annoncement),method: "get", class: "btn btn-primary"%></td>
    <td><%= render 'delete_annoncement',annoncement: annoncement%></td>  
    <% end%>
  </tr>
<% end %>
</table>



