<p>
  <b><%= @annoncement.title %></b>
  <%= @annoncement.created_at.localtime.to_s(:db) %>
</p>

<p>
  <%= @annoncement.content %>
</p>
<% if current_admin? %>
  <%= link_to '编辑', edit_annoncement_path(@annoncement) %>
  <%= link_to '删除', @annoncement, method: :delete, data: { confirm: '你确定吗？' } %>
<% end %>
</br>
<%= link_to '所有公告', annoncements_path %>
