

<%= link_to '所有公告', annoncements_path %>
<p>
  <b>标题：</b>
  <%= @annoncement.title %>
</p>

<p>
  <b>内容</b>
  <%= @annoncement.content %>
</p>
<% if current_admin?%>
<%= button_to '编辑', edit_annoncement_path(@annoncement) , method: "get", class: "btn btn-primary"%>
<%= render 'delete_annoncement',annoncement: @annoncement%>
<% end%>

