<% provide(:title,"编辑聊天室") %>
<div class="row" style="background:none;">
  <div class="span5">
      <%= form_tag(user_room_path(current_user,@room[:id]), method: 'put') do %>
	  <%= label_tag "聊天室主题"%>
	  <%= text_field_tag :outline, @outline%>
      <%= label_tag :information, "讨论组的简单介绍以及讲课时间等基本情况（会发给学生）",style:"width:230px;"%>
      <%= text_field_tag :information%>
	  <div id="clear"></div>
	  <table>
		<tr><td><label>成员</label></td></tr>
        <% @students.each do |student|%>
          <tr>
			  <td></td>
			  <td width="20px"><%= check_box_tag 'student[]', student[:id],student[:checked]%></td>
			  <td>
          <%= label_tag student[:name]%></td></tr>
        <% end%>
		</table>
		
		 <%= submit_tag "更新聊天室", class: "btn btn-primary"%>
		 <div id="clear"></div>
      <% end%>
  
 
  </div>
</div>
