<% provide(:title, "创建讨论组") %>
<div class="row" style="background:none;">
  <div class="background new-chatroom span10" style="padding-bottom:50px;">
    <%= form_tag(user_rooms_path, method: 'post') do %>
      <%= label_tag :outline, "讨论组主题" %>
      <%= text_field_tag :outline, @outline%>
      <%= label_tag :information, "讨论组的简单介绍以及讲课时间等基本情况（会发给学生）" %>
      <%= text_field_tag :information%>
      </br>
      允许进入的学生
      <ul>
        <% @students.each do |student|%>
          <li>
          <label>
            <%= check_box_tag 'student[]', student.id, student.checked %>
            <%= student.name %>
          </label>
          </li>
        <% end%>
      </ul>
        <%= submit_tag "创建讨论组", class: "btn btn-primary" %>

      <% end%>
	  <div id="clear"></div>
  </div>
</div>
