<% provide(:title,"创建聊天室") %>
<div class="row">
  <div class="span6">
      <%= form_tag(user_rooms_path, method: 'post') do %>
        <tr>
          <td> <%= label_tag "聊天室主题"%></td>
          <td> <%= text_field_tag :outline, @outline%></td>
        </tr>
        <% @students.each do |student|%>
          <tr><%= check_box_tag 'student[]', student[:id],student[:checked]%>
          <%= label_tag student[:name]%></tr>
        <% end%>
        <%= submit_tag "创建聊天室", class: "btn btn-primary"%>

      <% end%>
  </div>
</div>
