<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "良师在线", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-right">
            <li><%= link_to t("common.search"), search_path %></li>
          <% if signed_in? %>
            <li><%= link_to gravatar_for(current_user, size:20) + "#{current_user.name}(#{current_role_to_s})", edit_user_path(current_user) %> </li>
            <li><%= link_to t("common.logout"), signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to t("common.login"), signin_path %></li>
            <li><%= link_to t("common.register"), signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
