<header>
  <div class="navibar">
    <div id="login">
      <ul>
        <% if signed_in? %>
          <li>
            <%= link_to gravatar_for(current_user, size: 20) + "#{current_user.name}(#{current_role_to_s})", user_path(current_user), title: "当前身份：" + current_role_to_s %>
          </li>
          <% if current_teacher? %>
            <li><%= link_to "教学", friends_user_path(current_user) %> </li>
          <% elsif current_student? %>
            <li><%= link_to "学习", friends_user_path(current_user) %> </li>
          <% end %>
          <li><a id="chat-popup-button">聊天</a></li>
          <li><%= link_to "通知", requests_user_path(current_user) %> </li>
        <% else %>
          <li><%= link_to t("common.login"), signup_path, id: "link", class: "signin" %></li>
          <li><%= link_to t("common.register"), signup_path %></li>
        <% end %>
      </ul>
    </div>
    <div id="navi">
      <ul>
        <li><%= link_to "首页", root_path %> </li>
        <li><%= link_to "搜索", new_search_path %> </li>
        <li><%= link_to "公告", annoncements_path%></li>
        <li><%= link_to "需求", advertisements_path %> </li>
        <% if signed_in? %>
          <li>
            <%= link_to t("common.logout"), signout_path, method: "delete" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="clear"/>
  </div>
</header>
<style>
form{
	margin:0px;
}
</style>
<%= form_tag signin_path do%>
<div class="signin">
<ul class="drop">
  <li><%= label_tag :email %></li>
  <li><%= text_field_tag :email, params[:email] %></li>
  <li><%= label_tag :password, "密码" %></li>
  <li><%= password_field_tag :password , params[:password] %></li>
  <fieldset>
    <div class="role-select">
      <ul>
        <li><%= radio_button_tag :role, "teacher" %></li>
        <li><%= label_tag :role_teacher, "教师" %></li>
        <li><%= radio_button_tag :role, "student", true %></li>
        <li><%= label_tag :role_student, "学生" %></li>
      </ul>
    </div>
  </fieldset>
  <%= submit_tag t("common.login"), class: "btn btn-primary btn-info" %>
<% end %>
</ul>
</div>
