<header>
  <div class="navibar">
    <div id="login">
      <ul>
        <% if signed_in? %>
          <li>
            <%= link_to gravatar_for(current_user, size: 20) + "#{current_user.name}(#{current_role_to_s})", user_path(current_user) %>
          </li>
          <li><%= link_to t("user.edit"), edit_user_path(current_user) %> </li>
          <li><%= link_to t("common.logout"), signout_path, method: "delete" %></li>
          <li><%= link_to t("user.friends"), friends_user_path(current_user) %> </li>
          <li><%= link_to t("user.requests"), requests_user_path(current_user) %> </li>
          <li><%= link_to t("user.blocked_users"), blocked_users_user_path(current_user) %> </li>
        <% else %>
          <li><%= link_to t("common.login"), signup_path, id: "link", class: "signin" %></li>
          <li><%= link_to t("common.register"), signup_path %></li>
        <% end %>
      </ul>
    </div>
    <div id="navi">
      <ul>
        <li><%= link_to "首页", root_path %> </li>
        <li><%= link_to "搜索", search_path %> </li> <!-- 两种搜索放在一起 -->
        <li><a href="#">帮助</a></li>
        <li><a href="#">联系客服</a></li>
      </ul>
    </div>
    <div id="clear"/>
  </div>
</header>

<%= form_tag signin_path do%>
<ul class="drop">
  <li><%= label_tag :email %></li>
  <li><%= text_field_tag :email, params[:email] %></li>
  <li><%= label_tag :password, "密码" %></li>
  <li><%= password_field_tag :password , params[:password] %></li>
  <fieldset>
    <div class="role-select">
	<ul>
      <li><%= radio_button_tag :role, "teacher" %></li>
      <li><%= label_tag :role_teacher, "教师" %></li>
      <li><%= radio_button_tag :role, "student", true %></li>
      <li><%= label_tag :role_student, "学生" %></li>
    </div>
  </fieldset>
   <%= submit_tag t("common.login"), class: "btn btn-primary btn-info" %>
<% end %>
</ul> <!-- 这个要放到上面？ -->
