<!--<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "良师在线", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-right">
            <li><%= link_to t("common.search"), search_path %></li>
          <% if signed_in? %>
            <li>
              <%= link_to gravatar_for(current_user, size:20) + "#{current_user.name}(#{current_role_to_s})", user_path(current_user) %>
            </li>
            <li><%= link_to t("user.friends"), friends_user_path(current_user) %> </li>
            <li><%= link_to t("user.requests"), requests_user_path(current_user) %> </li>
            <li><%= link_to t("user.edit"), edit_user_path(current_user) %> </li>
            <li><%= link_to t("common.logout"), signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to t("common.login"), signin_path %></li>
            <li><%= link_to t("common.register"), signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header-->
<header>
  <div class="navibar">
    <div id="login">
      <ul>
        <% if signed_in? %>
            <li>
              <%= link_to gravatar_for(current_user, size:20) + "#{current_user.name}(#{current_role_to_s})", user_path(current_user) %>
            </li>
            <li><%= link_to t("user.edit"), edit_user_path(current_user) %> </li>
            <li><%= link_to t("common.logout"), signout_path, method: "delete" %></li>
            <li><%= link_to t("user.friends"), friends_user_path(current_user) %> </li>
            <li><%= link_to t("user.requests"), requests_user_path(current_user) %> </li>
          <% else %>
            <li><a href="#" id="link" class="signin">登陆</a></li>
            <li><%= link_to t("common.register"), signup_path %></li>
          <% end %>
      </ul>
    </div>
    <div id="navi">
      <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">搜索导师</a></li>
        <li><a href="#">搜索学生</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">联系客服</a></li>
      </ul>
    </div>
    <div id="clear"/>
  </div>
</header>

<%= provide(:title, t("common.login")) %>
<%= form_tag signin_path do%>
<ul class="drop">
  <li><%= label_tag :email %></li>
  <li><%= text_field_tag :email, params[:email] %></li>
  <li><%= label_tag :password, "密码" %></li>
  <li><%= password_field_tag :password , params[:password] %></li>
  <fieldset>
    <div class="role-select">
	<ul>
      <li><%= radio_button_tag :role, "teacher" %></li>
      <li><%= label_tag :role_teacher, "教师" %></li>
      <li><%= radio_button_tag :role, "student", true %></li>
      <li><%= label_tag :role_student, "学生" %></li>
    </div>
  </fieldset>
   <%= submit_tag t("common.login"), class: "btn btn-primary btn-info" %>
<% end %>
</ul>
