<div class="clearfix">
  <ul class="roomsbanner">
    <% if current_student? %>
      <li class="mystudent"><%= link_to "我的导师", friends_user_path(current_user) %> </li>
    <% elsif current_teacher? %>
      <li class="mystudent"><%= link_to "我的学生", friends_user_path(current_user) %> </li>
    <% end %>
    <li class="blacklist"><%= link_to "黑名单", blocked_users_user_path(current_user) %></li>
    <% if current_teacher? %>
      <li class="group"><%= link_to "讨论组", user_rooms_path(current_user) %> </li>
    <% else %>
      <li class="group"><%= link_to "讨论组", my_rooms_user_path(current_user) %></li>
    <% end%>
 </ul>
</div>
<div class="clearfix"></div>

