<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <% debug(session) if Rails.env.development? %>
    <% debug(params) if Rails.env.development? %>
  </div>
  <div class="chat-popup-button">
    <button class="btn btn-info">聊天</button>
  </div>
  <%= render 'layouts/subscription' if signed_in? %>
</body>
</html>
